<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdht.itasset"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:name="com.gdht.itasset.xintong.App"
        android:allowBackup="true"
        android:icon="@drawable/tubiao"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.gdht.itasset.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gdht.itasset.PlanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_plan"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.ScanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_scan"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.ScanComplateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_scan_complate"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.YiPanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_yi_pan"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.gdht.itasset.PanYingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_pan_ying"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.gdht.itasset.XinZengActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_xin_zeng"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.PanKuiActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_pan_kui"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.gdht.itasset.WeiPanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_wei_pan"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.gdht.itasset.MainScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.ErWeiScanCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gdht.itasset.ErWeiScanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.gdht.itasset.LocalDBActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.gdht.itasset.XinZengSubActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.gdht.itasset.XinZengMainScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.gdht.itasset.XinZengErWeiScanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.gdht.itasset.CangKuSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.gdht.itasset.XinZengScanActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.gdht.itasset.XinZengHaveRfidActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.gdht.itasset.GuZhangDengJiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_gu_zhang_deng_ji"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.gdht.itasset.XiuGaiZaiYunActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_xiu_gai_zai_yun"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.XiuGaiCangKuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_xiu_gai_cang_ku"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectDeptActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_select_dept"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectUseTypeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_select_use_type"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectWarehouseAreaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_select_warehouse_area"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectOfficeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_select_office"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.SelectGoodsShelvesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_select_goods_shelves"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.CangKuSelectSingleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_select_goods_shelves"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.OptionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_option"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.PlanListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_option"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.gdht.itasset.RfidCheckActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_option"
            android:screenOrientation="sensor" >
        </activity>

        <service android:name="com.gdht.itasset.version.VersionServiceIndex" >
        </service>
    </application>

</manifest>